.tab-bar{
  border-top: 1px solid #c1c1c1;
  background-color: #f7f7f7;
  display: flex;
  justify-content: space-between;
  width:100%;
  position : fixed;
  bottom:0;

  
}

.tab-bar_tab{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #c1c1c1;
  align-items: center;
  padding : 10px 30px 5px 30px;
  transition: transform .3s linear;

}
.tab-bar .tab-bar_tab:hover{
  transform:scale(1.2)
}
.tab-bar .tab-bar_tab i {
  font-size:24px;
  text-align:center;
  margin-bottom:5px;
  display:block;
}
.tab-bar .tab-bar_title{
  font-size:10px;
}
.tab-bar_tab_selected{
  color:#523737;
}